* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
  font-weight: 700;
}

.header {
  padding-top: 32px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.header-logo {
  width: 256px;
  height: 64px;
  margin-bottom: 32px;
}
.header-logo a {
  display: block;
}
.header-logo img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}
.header-nav {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-flow: column nowrap;
  background-color: #00a3f1;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}
.header-nav a {
  height: 24px;
  line-height: 1.4;
  font-weight: 500;
  color: #f1f1f1;
  text-transform: uppercase;
}

@media (min-width: 719px) {
  .header-nav {
    padding: 16px 0;
    flex-flow: row nowrap;
    justify-content: space-evenly;
  }
}
.footer {
  padding: 64px 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.footer-logo {
  margin-bottom: 32px;
}
.footer-logo a {
  display: inline-block;
}
.footer-nav {
  width: 100%;
  margin-bottom: 32px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.footer-nav span:last-child {
  margin-left: 32px;
}
.footer-nav a {
  height: 32px;
  line-height: 32px;
  padding: 0 16px;
  display: block;
  color: #8f8f8f;
}
.footer-links h5 {
  margin: 1em 0;
  text-align: center;
  color: #8f8f8f;
}

@media (min-width: 719px) {
  .footer {
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  .footer-logo {
    margin-bottom: 0;
  }
  .footer-nav {
    width: max-content;
    margin-bottom: 0;
    flex-flow: row nowrap;
    justify-content: center;
  }
}
.main-hero {
  padding: 128px 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background-color: #00a3f1;
}
.main-hero .hero-img {
  width: 320px;
}
.main-hero .hero-img img {
  width: 100%;
}
.main-hero .hero-description {
  width: 90%;
  color: #f1f1f1;
}
.main-hero .hero-description h1 {
  margin: 0.5em 0;
  font-size: 4rem;
  font-weight: 900;
}
.main-hero .hero-description a {
  width: 128px;
  height: 48px;
  line-height: 2.4;
  margin-top: 32px;
  border-radius: 48px;
  text-align: center;
  font-weight: 500;
  font-size: 1.1rem;
  background-color: #fadc00;
  display: inline-block;
}
.main-products {
  display: flex;
  flex-flow: column nowrap;
}
.main-products-col {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.main-products .product {
  width: 100%;
  padding: 32px 0 64px;
  border-bottom: 1px solid #000;
}
.main-products .product a {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.main-products .product h3.product-title {
  margin: 0.1em 0 0.5em 16px;
}
.main-products .product p.product-description {
  margin-left: 16px;
}
.main-products .product-img {
  width: 128px;
  height: 128px;
}
.main-products .product-info {
  width: 80%;
  padding: 16px 16px 0;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: flex-end;
}
.main-products img[alt=Chevron] {
  width: 32px;
}
.main-clients {
  padding-top: 64px;
}
.main-clients h2 {
  margin: 1em 0;
  text-align: center;
  font-weight: 900;
}
.main-clients a {
  max-width: 256px;
  padding: 0 16px;
  height: 48px;
  line-height: 2.4;
  margin: 0 auto;
  border-radius: 48px;
  font-weight: 500;
  font-size: 1.1rem;
  text-align: center;
  background-color: #fadc00;
  display: block;
}
.main-clients .clients {
  padding-top: 64px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.main-clients .clients h4 {
  margin: 1em 0;
  font-size: 1.2rem;
  font-weight: 600;
}
.main-clients .clients img {
  max-width: 128px;
}
.main-clients .clients p {
  margin: 1em 0;
  text-align: center;
}
.main-clients .clients-review {
  width: 80%;
  margin-bottom: 32px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

@media (min-width: 599px) {
  .main-products-col {
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
  }
  .main-products .product {
    width: 50%;
    border: 1px solid #000;
    border-top: 0;
  }
  .main-products .product:nth-child(odd):not(:first-child) {
    border-right: none;
    border-left: none;
  }
  .main-products .product:first-child {
    border-right: none;
  }
  .main-products .product p.product-description {
    height: 32px;
  }
  .main-products .product-info {
    width: 256px;
  }
}
@media (min-width: 719px) {
  .main-hero .hero-description {
    width: 80%;
  }
  .main-clients .clients {
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  .main-clients .clients-review {
    width: 256px;
    margin-bottom: 0;
  }
}
@media (min-width: 839px) {
  .main-hero {
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }
  .main-hero .hero-description {
    width: 60%;
  }
  .main-hero .hero-img {
    width: 352px;
  }
}
@media (min-width: 1023px) {
  .main-hero .hero-description {
    width: 40%;
  }
  .main-hero .hero-img {
    width: 480px;
  }
  .main-products-col {
    flex-flow: row nowrap;
  }
  .main-products .product {
    width: 100%;
  }
}
@media (min-width: 1279px) {
  .main-products .product-img {
    width: 192px;
    height: 192px;
  }
  .main-products .product-info {
    width: 320px;
    padding: 32px 32px 0;
  }
}
.main-product {
  padding: 64px 0 128px;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: space-evenly;
}
.main-product .product {
  width: 40%;
}
.main-product .product button {
  appearance: none;
  width: 256px;
  height: 48px;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
}
.main-product .product-title {
  margin: 0 0 1em;
  font-weight: 900;
  font-size: 2.4rem;
}
.main-product .product-ref {
  margin: 1em 0;
  color: #8f8f8f;
}
.main-product .product-availability {
  padding-left: 16px;
  color: #00a3f1;
}
.main-product .product-brand {
  height: 92px;
  padding: 32px 0;
}
.main-product .product-brand img {
  height: 100%;
}
.main-product .product-combinations {
  padding-bottom: 32px;
}
.main-product .product-combinations p {
  font-weight: 600;
  margin-bottom: 16px;
}
.main-product .product-combinations img {
  width: 64px;
}
.main-product .product-combinations img[data-selected] {
  border: 1px solid #00a3f1;
}
.main-product .product-prices {
  padding: 1em 0;
  font-size: 1.6rem;
  font-weight: 700;
  color: #00a3f1;
}
.main-product .product-prices-discount {
  padding-left: 16px;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: line-through;
  color: #8f8f8f;
}
.main-product .product-actions {
  padding: 16px;
  display: flex;
}
.main-product .product-actions-cart {
  background-color: #00a3f1;
  color: #f1f1f1;
}
.main-product .product-actions-wish {
  color: #00a3f1;
}
.main-product .product-info {
  margin-top: 16px;
  border: 1px solid #00a3f1;
  border-top: none;
  border-right: none;
}
.main-product .product-info-list {
  display: flex;
}
.main-product .product-info-list li {
  padding: 16px;
  font-size: 1rem;
  font-weight: 600;
}
.main-product .product-info-list li + li {
  margin-left: 16px;
}
.main-product .product-info-list li[data-selected] {
  margin-bottom: -1px;
  border: 1px solid #00a3f1;
  border-left: none;
  border-bottom-color: #f1f1f1;
}
.main-product .product-info ul:not(.product-info-list) {
  border-top: 1px solid #00a3f1;
  border-right: 1px solid #00a3f1;
}
.main-product .product-info ul:not(.product-info-list) li {
  padding: 16px;
}
.main-product .product-view-item {
  width: 480px;
  border: 2px solid #8f8f8f;
}
.main-product .product-view-item img {
  max-width: 100%;
  width: 100%;
}
.main-product .product-view-list {
  padding: 32px 0;
  display: flex;
  justify-content: center;
}
.main-product .product-view-list li {
  width: 128px;
}
.main-product .product-view-list li[data-selected] {
  border: 1px solid #00a3f1;
}
.main-product .product-view-list img {
  max-width: 100%;
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */
