$darkblue: #436270; // rgb(67,98,112)
$lightgblue: #f5f7f9;

* {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

body {
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}