.footer {
    padding: 16px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    background-color: $darkblue;

    &-logo {
        a {
            display: inline-block;
        }

        img {
            width: 128px;
        }
    }

    // &-nav {
        
    // }

    &-nav-items {
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
    }

    &-nav-item {
        margin-top: 24px;
        border-bottom: 1px solid transparent;
        transition: border-color 200ms ease-out;

        &:hover, &:active {
            border-bottom-color: $lightgblue;
        }

        a {
            color: $lightgblue;
        }
    }
}

@media (min-width: 599px) {}
@media (min-width: 719px) {
    .footer {
        flex-flow: row nowrap;
        justify-content: space-between;

        &-nav-items {
            flex-flow: row nowrap;
            align-items: center;
        }

        &-nav-item {
            margin-top: 0;
            margin-right: 48px;
    
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
@media (min-width: 839px) {}
@media (min-width: 959px) {}
