.header {
    width: 100%;

    &-logo {
        padding: 16px 0 0 64px;

        a {
            display: inline-block;
        }

        img.logo {
            height: 80px;
        }
    }

    &-nav {
        padding: 16px 0;
        background-color: $darkblue;
    }

    &-nav-items {
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }

    &-nav-item {
        margin-right: 48px;

        &:last-child {
            margin-right: 0;
        }

        &[data-active] {
            padding-left: 24px;
            background-image: url('../images/menu_arrow.gif');
            background-position: bottom 4px left 4px;
            background-repeat: no-repeat;
            background-size: 16px;
        }

        a {
            color: $lightgblue;
        }
    }
}
