.header {
    width: 100%;

    &-logo {
        width: max-content;
        margin: 0 auto;
        padding-top: 16px;

        a {
            display: inline-block;
        }

        img.logo {
            height: 80px;
        }
    }

    &-nav {
        padding: 16px 0;
        background-color: $darkblue;
    }

    &-nav-items {
        width: max-content;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
    }

    &-nav-item {
        padding: 24px;
        padding-right: 0;
        padding-bottom: 0;
        background-image: url('../images/menu_arrow.gif');
        background-position: bottom 4px left -16px;
        background-origin: padding-box;
        background-repeat: no-repeat;
        background-size: 16px;
        transition: background-position 200ms ease-out;
        
        &:hover {
            background-position: bottom 4px left 4px;
        }

        &[data-active] {
            background-position: bottom 4px left 4px;
        }

        a {
            color: $lightgblue;
        }
    }
}

@media (min-width: 599px) {}
@media (min-width: 719px) {
    .header {
        &-logo {
            width: 100%;
            margin: 0;
            padding: 16px 0 0 64px;
        }
    
        &-nav-items {
            width: 100%;
            margin: 0;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
        }

        &-nav-item {
            margin-right: 48px;
            padding: 0;
            padding-left: 24px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
@media (min-width: 839px) {}
@media (min-width: 959px) {}
