.main-hero {
    padding: 64px 16px;
    background-image: url('../images/green_box_bg.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: $lightgblue;
    display: flex;
    justify-content: space-between;

    img {
        width: 256px;
        height: 360px;
    }

    article {
        max-width: 600px;

        blockquote {
            text-align: justify;
        }
    }

    &-links {
        min-width: 360px;

        li {
            padding: 12px;
            padding-left: 48px;
            background-image: url('../images/right_nav.gif');
            background-repeat: no-repeat;
            background-size: contain;
            position: relative;
        }

        li:hover {
            background-image: url('../images/right_nav_a.gif');
        }

        a {
            display: inline-block;
            color: $lightgblue;
        }
    }
}

@media (min-width: 599px) {}
@media (min-width: 719px) {}
@media (min-width: 839px) {}
@media (min-width: 959px) {}
@media (min-width: 1023px) {
    .main-hero {
        padding: 64px 32px;

        img {
            width: 256px;
            height: 360px;
        }
    }
}