$primaryc: rgb(0,163, 241);
$textc: #f1f1f1;

* {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.4rem;
    font-weight: 700;
}