.footer {
    padding: 64px 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    &-logo {
        margin-bottom: 32px;

        a {
            display: inline-block;
        }
    }

    &-nav {
        width: 100%;
        margin-bottom: 32px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;

        span:last-child {
            margin-left: 32px;
        }

        a {
            padding: 0 16px;
            height: 32px;
            line-height: 32px;
            display: block;
        }
    }

    &-links {
        h5 {
            margin: 1em 0;
            text-align: center;
        }
    }
}

@media (min-width: 719px) {
    .footer {
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: space-evenly;
    
        &-logo {
            margin-bottom: 0;
        }
    
        &-nav {
            width: max-content;
            margin-bottom: 0;
            flex-flow: row nowrap;
            justify-content: center;
        }
    }
}
