.main {
    &-hero {
        padding: 128px 0;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
        background-color: $primaryc;

        .hero-img {
            width: 480px;
            img {
                width: 100%;
            }
        }

        .hero-description {
            width: 40%;
            color: $textc;

            h1 {
                font-size: 6rem;
            }

            a {
                width: 128px;
                height: 48px;
                line-height: 48px;
                margin-top: 64px;
                border-radius: 48px;
                text-align: center;
                font-weight: 600;
                font-size: 1.1rem;
                background-color: rgb(250, 220, 0);
                display: inline-block;
            }
        }
    }

    &-products {
        display: flex;
        flex-flow: column nowrap;
        // justify-content: center;

        &-col {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;

            // &:last-child {
            //     .product {
            //         border-top: none;
            //     }
            // }
        }

        .product {
            width: 256px;
            padding: 32px 0;
            border: 1px solid #000;
            border-top: 0;

            &:nth-child(odd):not(:first-child) {
                border-right: none;
                border-left: none;
            }

            &:first-child {
                border-right: none;
            }

            a {
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
            }

            h3.product-title {
                margin: .3em 0 .5em 16px;
            }

            p.product-description {
                margin-left: 16px;
            }

            &-img {
                width: 128px;
                height: 128px;
            }

            &-info {
                width: 100%;
                padding: 32px 32px 0;
                display: flex;
                flex-flow: row-reverse nowrap;
                justify-content: flex-end;
            }
        }

        img[alt="Chevron"] {
            width: 32px;
        }
    }

    &-clients {
        padding-top: 64px;

        h2 {
            margin: 1em 0;
            text-align: center;
            font-weight: 800;
        }

        a {
            max-width: 156px;
            padding: 0 16px;
            height: 48px;
            line-height: 48px;
            margin: 0 auto;
            border-radius: 48px;
            font-weight: 600;
            font-size: 1.1rem;
            text-align: center;
            background-color: rgb(250, 220, 0);
            display: block;
        }

        .clients {
            padding-top: 64px;
            display: flex;
            justify-content: space-evenly;

            h4 {
                margin: 1em 0;
                font-size: 1.2rem;
                font-weight: 600;
            }

            img {
                max-width: 128px;
            }

            p {
                margin: 1em 0;
                text-align: center;
            }

            &-review {
                width: 256px;
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
            }
        }
    }
}