@charset "UTF-8";
* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
}

h1 {
  font-size: 2rem;
  margin: 0.5em 0;
}

blockquote {
  margin: 0;
}

blockquote::before {
  content: "″";
}

blockquote::after {
  content: "″";
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

a.rms {
  height: 24px;
  padding-right: 32px;
  line-height: 24px;
  background-image: url("../images/orange_bullet.gif");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: top right;
  background-position: top right;
  color: #f7941d;
  text-align: right;
  display: block;
}

a.rm {
  width: 128px;
  height: 32px;
  line-height: 2;
  margin-top: 32px;
  text-align: center;
  background-image: url("../images/read_more_bg.gif");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #f5f7f9;
  display: block;
  float: right;
}

.rows {
  padding: 16px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}
.rows span.row:first-child {
  width: 100%;
}
.rows span.row:last-child {
  width: 100%;
}

@media (min-width: 1023px) {
  .rows span.row:first-child {
    width: 40%;
  }
  .rows span.row:last-child {
    width: 60%;
  }
}
.header {
  width: 100%;
}
.header-logo {
  width: max-content;
  margin: 0 auto;
  padding-top: 16px;
}
.header-logo a {
  display: inline-block;
}
.header-logo img.logo {
  height: 80px;
}
.header-nav {
  padding: 16px 0;
  background-color: #436270;
}
.header-nav-items {
  width: max-content;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}
.header-nav-item {
  padding: 24px;
  padding-right: 0;
  padding-bottom: 0;
  background-image: url("../images/menu_arrow.gif");
  background-position: bottom 4px left -16px;
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-size: 16px;
  transition: background-position 200ms ease-out;
}
.header-nav-item:hover {
  background-position: bottom 4px left 4px;
}
.header-nav-item[data-active] {
  background-position: bottom 4px left 4px;
}
.header-nav-item a {
  color: #f5f7f9;
}

@media (min-width: 719px) {
  .header-logo {
    width: 100%;
    margin: 0;
    padding: 16px 0 0 64px;
  }
  .header-nav-items {
    width: 100%;
    margin: 0;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  .header-nav-item {
    margin-right: 48px;
    padding: 0;
    padding-left: 24px;
  }
  .header-nav-item:last-child {
    margin-right: 0;
  }
}
.footer {
  padding: 16px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  background-color: #436270;
}
.footer-logo a {
  display: inline-block;
}
.footer-logo img {
  width: 128px;
}
.footer-nav-items {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}
.footer-nav-item {
  margin-top: 24px;
  border-bottom: 1px solid transparent;
  transition: border-color 200ms ease-out;
}
.footer-nav-item:hover, .footer-nav-item:active {
  border-bottom-color: #f5f7f9;
}
.footer-nav-item a {
  color: #f5f7f9;
}

@media (min-width: 719px) {
  .footer {
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  .footer-nav-items {
    flex-flow: row nowrap;
    align-items: center;
  }
  .footer-nav-item {
    margin-top: 0;
    margin-right: 48px;
  }
  .footer-nav-item:last-child {
    margin-right: 0;
  }
}
.main-hero {
  padding: 64px 16px;
  background-image: url("../images/green_box_bg.gif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #f5f7f9;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.main-hero article {
  max-width: 600px;
}
.main-hero article blockquote {
  text-align: justify;
}
.main-hero-links {
  min-width: 360px;
}
.main-hero-links li {
  padding: 12px;
  padding-left: 48px;
  background-image: url("../images/right_nav.gif");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
.main-hero-links li:hover {
  background-image: url("../images/right_nav_a.gif");
}
.main-hero-links a {
  display: inline-block;
  color: #f5f7f9;
}

@media (min-width: 1023px) {
  .main-hero {
    padding: 64px 32px;
  }
}
.main-about {
  width: 100%;
  padding: 16px;
  background-color: #f0f0f0;
}
.main-about h2 {
  color: #f7941d;
}
.main-about h2 + blockquote {
  text-align: justify;
}
.main-about figure {
  margin: 0;
  padding-top: 16px;
  display: flex;
}
.main-about figure img {
  width: 128px;
  height: 128px;
  border: 1px solid #436270;
}
.main-about figure figcaption {
  padding: 0 8px;
  text-align: justify;
}
.main-about-nav li {
  padding: 16px;
  padding-left: 40px;
  border-bottom: 2px dotted #50a83c;
  color: #436270;
  background-image: url("../images/left_nav_arrow.gif");
  background-size: 32px;
  background-position: 0px 8px;
  background-origin: padding-box;
  background-repeat: no-repeat;
  font-weight: 600;
  font-size: 1.2rem;
}

.main-products {
  width: 100%;
  padding: 16px;
}
.main-products h2 {
  color: #f7941d;
}
.main-products-item {
  padding: 16px 0 16px 0;
  border-bottom: 2px dotted #50a83c;
  display: flex;
}
.main-products-item span:last-child {
  padding-left: 16px;
}
.main-products-item h3 {
  margin-top: 0;
  text-transform: capitalize;
  color: #608ca0;
}
.main-products-item img {
  width: 92px;
  height: 92px;
}
.main-products-item blockquote {
  text-align: justify;
}

.main-aside {
  width: 100%;
  padding: 16px;
  padding-top: 0;
  display: flex;
}
.main-aside-search {
  width: 50%;
  padding: 0 16px;
  background-image: url("../images/search_box_bg.gif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.main-aside-search h4 {
  margin: 0.5em 0;
  font-size: 1.4rem;
  color: #50a83c;
}
.main-aside-search form {
  width: 100%;
  display: flex;
  align-items: center;
}
.main-aside-search input {
  width: 75%;
  height: 32px;
}
.main-aside-search button {
  appearance: none;
  width: 56px;
  height: 56px;
  background-color: transparent;
  border: none;
}
.main-aside-search button img {
  max-width: 100%;
}
.main-aside-support {
  width: 50%;
  padding-left: 16px;
}
.main-aside-support h4 {
  margin: 0;
  margin-bottom: 1em;
  font-size: 1.4rem;
  color: #50a83c;
}
.main-aside-support p {
  padding-left: 80px;
  background-size: 48px 48px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.main-aside-support p.phone {
  background-image: url("../images/phone_icon.gif");
}
.main-aside-support p.email {
  background-image: url("../images/contact_icon.gif");
}

/*# sourceMappingURL=styles.css.map */
